---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-interfaces-global-init,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-internal-linkage,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-redundant-inline-specifier,
  -readability-static-accessed-through-instance,

WarningsAsErrors: ''

HeaderFilterRegex: '^(?!.*/build/).*$'

CheckOptions:
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'QString;QStringView'
---
